<footer class=" px-5 text-center text-white w-100" style="background-color: #d4b8a3;
              position: absolute; bottom: 2; width: 100%;">
  <div class="container pt-4">
    <section class="mb-4">
      <!-- Telegram -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://t.me/dispanser_saratov"
        role="button" data-mdb-ripple-color="dark">
        <i class="fab fa-telegram"></i></a>
      <!-- Odnoklassniki -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://ok.ru/group/61471291080779"
        role="button" data-mdb-ripple-color="dark">
        <i class="fab fa-odnoklassniki"></i></a>
      <!-- website -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="http://engsokvd.medportal.saratov.gov.ru/"
        role="button" data-mdb-ripple-color="dark">
        <i class="fab fa-yandex"></i></a>
      <!-- VK -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://vk.com/public209259497"
        role="button" data-mdb-ripple-color="dark">
        <i class="fab fa-vk"></i></a>
    </section>
  </div>
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 - <span id="current-year"></span>
    <a class="text-dark" href="http://engsokvd.medportal.saratov.gov.ru/">ГУЗ "СОККВД"</a>
  </div>
</footer>

<script>
    var currentYear = new Date().getFullYear();
    document.getElementById("current-year").textContent = currentYear;
</script>